a {
    color: var(--rnameBlue);
  }
  
  .contentlogin {
    width: 100%;
    height: 80vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .contentlogina .div1 {
    text-align: center;
    padding: 12px 0 18px 0;
  }
  .div1 h5 {
    color: var(--rnameGrey);
    font-weight: 300;
    font-size: 24px;
  }
  /* form */
  .form-container {
    background-color: var(--loginformbkcol);
    font-size: 14px;
    border: 1px solid var(--navBorderCol);
  }
  form input {
    width: 260px;
    padding: 0 10px;
    height: 30px;
    margin: 10px 0;
    border-radius: 8px;
    outline-color: #adccf0;
    border: 1px solid var(--navBorderCol);
    cursor: pointer;
  }
  
  #submit {
    background-color: var(--loginsubmit);
    color: var(--whiteCol);
  }
  .forgot {
    float: right;
  }
  .new {
    margin: 15px 0;
    text-align: center;
    border: 1px solid var(--navBorderCol);
    font-size: 14px;
  }
  
  .foot {
    margin-top: 3rem;
    text-align: center;
  }
  .foot li {
    display: inline;
    font-size: 12px;
    padding: 10px;
  }
  
  .stya a:hover {
    text-decoration: underline;
  }
  
  .err{
    text-align: center;
    /* font-size: 200px; */
  }

  .err h1{
    font-size: 100px;
  }
  .err h5, .err h6{
  font-size: 20px;
  }
  .err h1:hover{
    color: var(--rnameBlue);
  }
  .errbtn{
    margin: 40px ;
  }
  .errbtn button{
    width: 100px;
    background-color: var(--rnameGrey);
    height: 40px;
    cursor: pointer;
    border: none;
  }
  .errbtn button:hover{
    background-color: var(--rnameBlue);
  }