/* nav */
header {
  font-family: "Source Sans Pro", sans-serif;
  color: white!important;
}
.menulist li {
  display: inline;
  padding: 0 10px;
}
/* nav form */
.navform {
  border: 1px solid var(--rnameGrey);
  height: 30px;
  width: 25%;
  display: flex;
  align-items: center;
}

.navform input {
  border: none;
  outline: none;
  height: 100%;
  background-color: inherit;
  width: 94%;
  color: var(--whiteCol);
}
.navbtn {
  background-color: inherit;
  outline: none;
  height: 21px;
  border: 1px solid var(--rnameGrey);
  width: 7%;
}
.navform input::placeholder {
  color: var(--whiteCol);
  font-size: 14px;
}

.wdth {
  border: none;
  background-color: inherit;
  color: var(--whiteCol);
}
.noti-icon *:hover {
  cursor: pointer;
  color: rgb(204, 194, 194);
}
.notis .bels {
  fill: var(--whiteCol);
  font-size: 20px;
}
.notis .noti {
  position: absolute;
  margin-left: -0.9rem;
  top: 0;
  font-size: 12px;
}
.noti-icon .plus {
  font-size: 20px;
  /* padding-left: 2px; */
}
.sicon{
vertical-align: middle;
  align-items: center;
}
/* img avatar */
.avaticon {
  width: 25px;
  height: 25px;
  margin: 0 0 -5px 8px;
}
.wdth option {
  color: var(--blackCol);
}
.right {
  position: absolute;
  right: 40px;
}
/* select elem style */
select::-ms-expand {
  display: none;
}
select {
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
  outline: none;
  margin-left: -22px;

  cursor: pointer;
}

/* nav ends */

/* main starts */
main {
  background-color: var(--whiteCol);
  font-family: "Source Sans Pro", sans-serif;
}
/* options sect */
.opts {
  z-index: 2;
  background-color: var(--whiteCol);
  top: 0;
}
/* banner border */
.bord {
  position: absolute;
  top: 8.29rem;
}
#bords {
  top: 2.19rem;
}
.colgrey {
  background-color: var(--navBorderCol);
  padding: 2px 6px;
  border-radius: 10px;
  margin: 0 5px;
}
.optns div {
  padding: 8px;
  margin-right: 24px;
}
.optns div span {
  vertical-align: middle;
  align-items: center;
}
.svgo {
  font-size: 18px;
  stroke: rgb(153, 151, 151);
}

.optns > div > a {
  color: #24292e;
  font-weight: 500;
}
.optns i {
  color: var(--rnameGrey);
}

.optns .focus {
  font-weight: 600;
  border-bottom: var(--optactiveBord);
}

/* profile */
.profiless {
  position: sticky;
  top: 0;
  background-color: var(--whiteCol);
  width: 100%;
  height: 40px;
  z-index: 1;
  padding: 5px 0;
  visibility: hidden;
}
.profiless span {
  font-size: 12px;
  padding-left: 4px;
}
.details {
  padding: 20px 0 8px 0;
}
.details h2 {
  font-size: 28px;
}
.details h3 {
  font-size: 20px;
  font-weight: 300;
}
.details p {
  font-size: 20px;
  font-weight: 400;
}
.uim,
.pld {
  flex-direction: column;
}

/* profile img */
.uimg {
  z-index: 3;
  margin-top: -2rem;
}
.userImg {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}
.iconstatus {
  margin-bottom: -12%;
  position: absolute;
  left: 20rem;
  cursor: pointer;
}
.sets {
  border: 1px solid var(--navBorderCol);
  background-color: var(--whiteCol);
  padding: 10px 5px 2px 5px;
}
.iconstat {
  font-size: 20px;
  fill: var(--rnameGrey);
  stroke: var(--whiteCol);
}
.iconstatuss {
  position: relative;
  padding: 10px 5px 2px 10px;
  margin-left: -15px;
  animation: ease-in 2s linear 2s;
  visibility: hidden;
 
}
.iconstatuss small {
  position: absolute;
  left: 20px;
  top: 8px;
  width: 70px;
  background-color: var(--whiteCol);
  z-index: 1;
}
.sets:hover ~ .iconstatuss {
  visibility: visible;
  animation: ease-out 2s linear 0.2s;
}

/* repo list styling */
.cons {
  padding-top: 3%;
}
.repoholder > div {
  padding: 15px 0;
  border-bottom: 1px solid var(--navBorderCol);
}
/* repo find form */
.repoform {
  border: 1px solid var(--navBorderCol);
  margin-bottom: 15px;
  padding: 7px 10px;
}
.repoform input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}
/* repo listing */
.repodetails {
  padding: 15px 0;
}
#rDescrp {
  max-width: 500px;
  width: 100%;
}
.repodetails li {
  display: inline;
  font-size: 14px;
  font-weight: 200;
}
.repodetails p {
  font-weight: 100;
  letter-spacing: 1;
}
.repodetails li i {
  font-size: 12px;
}
.rname {
  color: var(--rnameBlue);
  font-weight: 900;
  font-size: 20px;
}
.rname:hover {
  text-decoration: underline !important;
}
.repos .hv:hover{
fill: var(--rnameBlue);
 stroke: var(--rnameBlue);
 color: var(--rnameBlue)!important;
}
#rDescrp {
  font-size: 15px;
  line-height: 20px;
}
/* star btn */
.btns {
  outline: none;
  border: none;
  width: 80px;
  padding: 7px 15px;
  cursor: pointer;
}
.star {
  font-size: 18px;
  fill: grey;
}
.btns .star {
  padding-right: 4px;
  font-size: 20px;
}
#contentsm {
  display: none;
}

@media screen and (max-width: 767px) {
  .pl5,
  .px5,
  .wrapper {
    padding: 0;
  }

  .avaticon,
  .pfle {
    margin: 0;
  }
  .flex {
    display: unset;
    width: unset;
  }
  .none {
    display: flex;
  }
  .flexm {
    display: flex;
  }
  /* nav */
  .menulist li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid var(--navBorderCol);
  }
  .none-m {
    display: none !important;
  }
  .navform {
    width: 100%;
    display: flex;
    margin: 15px auto;
    height: 40px;
    padding: 8px;
  }

  .notis .noti {
    margin: 0;
    right: 1.2rem;
    top: 1.3rem;
  }

  .mobile {
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .topm {
    border-top: 1px solid var(--navBorderCol);
  }

  /* nav collapse */
  .collapse {
    display: none;
    position: absolute;
    z-index: 4;
    background-color: var(--navbkColor);
    width: 100%;
    left: 0;
    padding: 10px 20px;
  }
  .top {
    border: none;
  }
  /* profile div */
  .uim {
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
  }
  .userImg {
    margin-right: 15px;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
  }

  .profiles {
    padding: 10px 0 0 10px;
    font-size: 15px;
    line-height: 17px;
  }

  /* option */
  .optns {
    padding-top: 5px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .opts {
    padding: 0 !important;
    border-bottom: 1px solid var(--navBorderCol);
    font-size: 14px;
  }
  .optns div {
    margin-right: 15px;
  }
  .details {
    padding: 0 0 10px 10px;
  }

  .details h3 {
    padding: 10px 0;
  }
  .details h2 {
    font-size: 22px;
  }
  /* repo */
  .repodetails li {
    font-size: 12px;
  }
  .repos p {
    width: 200px;
  }
  #rDescrp {
    width: 70%;
  }
  .btns {
    width: 60px;
    padding: 7px;
    font-size: 12px;
  }
  .star {
    font-size: 14px;
  }
  .descr {
    padding: 5px 10px;
    width: 80%;
  }
  #profileUName{
    padding-left: 5px;
  }
}
/* media for tablet */
@media screen and (min-width: 700px) and (max-width: 1030px) {
  .wrapper,
  .pl5 {
    padding: 0;
  }
  .right {
    right: 5px;
  }
  .optns {
    font-size: 14px;
  }
  .userImg {
    width: 12rem;
    height: 12rem;
  }
  .iconstatus {
    left: 11rem;
  }
  .cons {
    padding-top: 5%;
  }
  .optns .pr5 {
    padding-right: 5px;
  }
  nav {
    font-size: 15px;
  }
  .optns {
    width: 100%;
  }
  .optns div {
    padding: 8px 0;
    margin-right: 18px;
  }
}
